<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>phuongnt.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>phuongnt.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>phuongnt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>phuongnt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBlogsController</servlet-name>
        <servlet-class>phuongnt.controllers.ViewBlogsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewArticlesController</servlet-name>
        <servlet-class>phuongnt.controllers.ViewArticlesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchArticlesController</servlet-name>
        <servlet-class>phuongnt.controllers.SearchArticlesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailArticle</servlet-name>
        <servlet-class>phuongnt.controllers.ViewDetailArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostArticleController</servlet-name>
        <servlet-class>phuongnt.controllers.PostArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>phuongnt.controllers.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewArticlesController</servlet-name>
        <servlet-class>phuongnt.controllers.AdminViewArticlesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveController</servlet-name>
        <servlet-class>phuongnt.controllers.ApproveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>phuongnt.controllers.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>phuongnt.controllers.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmEmailController</servlet-name>
        <servlet-class>phuongnt.controllers.ConfirmEmailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBlogsController</servlet-name>
        <url-pattern>/ViewBlogsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewArticlesController</servlet-name>
        <url-pattern>/ViewArticlesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchArticlesController</servlet-name>
        <url-pattern>/SearchArticlesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailArticle</servlet-name>
        <url-pattern>/ViewDetailArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostArticleController</servlet-name>
        <url-pattern>/PostArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/IndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewArticlesController</servlet-name>
        <url-pattern>/AdminViewArticlesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveController</servlet-name>
        <url-pattern>/ApproveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/CommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmEmailController</servlet-name>
        <url-pattern>/ConfirmEmailController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
